useDynLib(complexlm, .registration = TRUE)

# functions
export(rlm, median, mad, wmed, var, zmodel.matrix, lm, zlm.wfit, pseuzvar)

# formerly in package lqs
export(cov.mcd, cov.mve, cov.rob, lmsreg, lqs, ltsreg)

# formerly needed for Recall
# export(denumerate.formula, renumerate.formula)

# documented, registered but unexported methods
# export(summary.rlm)

importFrom(grDevices, dev.flush, dev.hold, nclass.FD, nclass.scott, palette)
#importFrom(graphics, abline, axis, box, frame, hist, lines, matplot, mtext,
           pairs, par, plot, points, rect, segments, symbols, text)
#import(stats) # triggers bug in wmtsa
importFrom(stats, model.frame,
	   predict, profile, residuals, se.contrast, simulate, terms,
	   update, vcov, pt,
           ## added in 7.3-42
           .checkMFClasses, .getXlevels, IQR, add.scope, aov, approx,
           as.formula, cmdscale, contr.helmert, dbeta, dcauchy,
           dchisq, delete.response, density, deviance, dexp, df,
           dgamma, dgeom, dist, dlnorm, dlogis, dnbinom, dnorm, dpois,
           drop.scope, dt, factor.scope, formula, glm,
           is.empty.model, lm, lm.fit,
           lm.influence, lm.wfit, lsfit, mad, mahalanobis,
           make.link, median, model.extract, model.matrix,
           model.offset, model.response, model.weights, na.pass,
           napredict, naprint, naresid, optim, optimize, pcauchy,
           pchisq, pf, plogis, pnorm, qchisq, qf, qnorm, qt, quantile,
           rcauchy, rexp, rgamma, rlogis, rnorm, rpois, runif, sd,
           update.formula, var)
importFrom(pracma, geo_median)

S3method(print, rlm)
S3method(print, summary.rlm)
S3method(print, lqs)
S3method(rlm, default)
S3method(rlm, formula)
#S3method(se.contrast, rlm)
S3method(summary, rlm)
S3method(summary, lm)
S3method(vcov, rlm)
